{% extends "layout.html" %}
{% block content %}
    <main role="main" class="container col-md-10">
      <div class="row">
        <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

    {% for queryt in queriest %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ queryt.origterm }}</small>
                    <small class="text-muted"> | </small>
                    <small class="text-muted">{{ queryt.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('queryt', queryt_id=queryt.id) }}">{{ queryt.term }}</a></h2>
                <p class="article-home">{{ queryt.content }}</p>
                <p class="cont-dash">. . .</p>
            </div>
{#            <img class ="align-self-center mr-3" src ="{{ url_for('static',filename=picture_file)}}">#}

            {% if queryt.origtermpresent %}
                <div class = "align-self-center circleg"><p></p>{{  queryt.percentmatch }}</div>
            {% else %}
                <div class = "align-self-center circle"><p></p>{{  queryt.percentmatch }}</div>
            {% endif %}


        </article>
    {% endfor %}
      </div>
    </main>
{% endblock content %}
