
{% extends "layout.html" %}
{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      <article class="media content-section col-md-8">

        <div class="media-body">
            {% for article in content %}

                <div class="article-metadata">
                    <small class="text-muted">{{ article.publication_date.strftime('%Y-%m-%d') }}</small>
                </div>
                    <h4 class="article-title">{{ article.title }}</h4>
                    <p class="article-content">{{ article.abstract }}</p>
                    <small>DOI:<a href="//doi.org/{{ article.doi }}">{{ article.doi }}</a></small>
                    <p></p>

            {% endfor %}
        </div>
      </article>
        <div class="col-md-4">
            <div class="content-section">
                <h3 class="text-center">Analytics bar</h3>
                <div class="row d-flex justify-content-center">
                  {% if queryt.origtermpresent %}
                    <div class="circleg "><p></p>{{  queryt.percentmatch }}</div>
                  {% else %}
                    <div class="circle"><p></p>{{  queryt.percentmatch }}</div>
                  {% endif %}
                </div>
                  <ul class="list-group text-center">
                      <li class="list-group-item list-group-item-light">Original Acronym Matched:
                        {% if queryt.origtermpresent %}
                            {{ queryt.origtermpresent }}
                        {% else %}
                            {{ queryt.origtermpresent }}
                        {% endif %}
                      </li>


                      <li class="list-group-item list-group-item-light">
                          <a data-toggle="collapse" data-target="#collapseOne" href="collapseOne">
                              Potential Other Full Forms
                          </a>
                      </li>
                      <div id = "collapseOne" class="panel-collapse collapse">

                          {% if lfmatches %}
                              <ul class="list-group list-group-flush">
                                {% for match in lfmatches %}
                                    <li class = "list-group-item"><a class="nav-item nav-link text-align-left" href="{{ url_for('queries.egg', sterm=queryt.origterm , termdata=match) }}"><small> {{ match }} </small></a></li>
                                {% endfor %}
                              </ul>
                          {% else %}
                              <ul class="list-group list-group-flush">
                                    <li class = "list-group-item"><small>N/A</small></li>
                              </ul>
                          {% endif %}
                      </div>
                      <li class="list-group-item list-group-item-light">
                          <a data-toggle="collapse" data-target="#collapseTwo" href="collapseTwo">
                              Potential Acronyms For This Full Form
                          </a>
                      </li>
                      <div id = "collapseTwo" class="panel-collapse collapse">

                          {% if acrmatches %}
                              <ul class="list-group list-group-flush">
                                {% for match in acrmatches %}
                                    <li class = "list-group-item"><a class="nav-item nav-link text-align-left" href=""><small> {{ match }} </small></a></li>
                                {% endfor %}
                              </ul>
                          {% else %}
                              <ul class="list-group list-group-flush">
                                    <li class = "list-group-item"><small>N/A</small></li>
                              </ul>
                          {% endif %}
                      </div>
                      <li class="list-group-item list-group-item-light">
                          <a data-toggle="collapse" data-target="#collapseThree" href="collapseThree">
                              Email Results
                          </a>
                      </li>
                      <div id = "collapseThree" class="panel-collapse collapse">

                          <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">

                                <div id="email" class="form-group d-flex">
                                    {% if form.email.errors %}
                                        <div class="flex-grow-1">
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        </div>
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                    {{ form.submit(class="btn btn-email btn-outline-info") }}
                                </div>
                            </fieldset>
                          </form>

                      </div>
                  </ul>
                </p>
            </div>
        </div>
      </div>
    </main>
{% endblock content %}

